		<style type="text/css">
			@font-face {
				font-family:'MinecraftTen-VGORe';
				src: url(MinecraftTen-VGORe.ttf);
			}
			.MinecraftTen-VGORe{
				font-family: 'MinecraftTen-VGORe';
				font-size: 50px;
				text-shadow: none;
			}
			@font-face {
				font-family:'Minecraft瀛椾綋';
				src: url(Minecraft瀛椾綋.ttf);
			}
			.Minecraft瀛椾綋{
				font-family: 'Minecraft瀛椾綋';
				font-size: 50px;
				text-shadow: none;
			}
		</style>

  table {
padding: 0;
}

html {
  background-color: #E8E8ED;
}  
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  
}